In [252]:
import pandas as pd
import numpy as np

df = pd.read_csv('melb_data_fe.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 26 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Suburb           13580 non-null  object
 1   Rooms            13580 non-null  int64
 2   Type             13580 non-null  object
 3   Price            13580 non-null  float64
 4   Method           13580 non-null  object
 5   SellerG          13580 non-null  object
 6   Date             13580 non-null  object
 7   Distance         13580 non-null  float64
 8   Postcode         13580 non-null  int64
 9   Bedroom          13580 non-null  int64
 10  Bathroom         13580 non-null  int64
 11  Car              13580 non-null  int64
 12  Landsize         13580 non-null  float64
 13  BuildingArea     13580 non-null  float64
 14  CouncilArea      12211 non-null  object
 15  Lattitude        13580 non-null  float64
 16  Longtitude       13580 non-null  float64
 17  Regionname       13580 non-null  object
 18  Propertycount    13580 non-null  int64
 19  MeanRoomsSquare  13580 non-null  float64
 20  AreaRatio        13580 non-null  float64
 21  MonthSale        13580 non-null  int64
 22  AgeBuilding      13580 non-null  int64
 23  WeekdaySale      13580 non-null  int64
 24  StreetType       13580 non-null  object
 25  Weekend          13580 non-null  int64
dtypes: float64(8), int64(10), object(8)
memory usage: 2.7+ MB

In [253]:
df['Date'] = pd.to_datetime(df['Date'])
df['Date_q'] = df['Date'].dt.quarter
df['Date_q'].value_counts()

3    4873
2    4359
4    2329
1    2019
Name: Date_q, dtype: int64

In [254]:
# создаём пустой список
unique_list = []
# пробегаемся по именам столбцов в таблице
for col in df.columns:
    # создаём кортеж (имя столбца, число уникальных значений)
    item = (col, df[col].nunique(),df[col].dtype)
    # добавляем кортеж в список
    unique_list.append(item)
# создаём вспомогательную таблицу и сортируем её
unique_counts = pd.DataFrame(
    unique_list,
    columns=['Column_Name', 'Num_Unique', 'Type']
).sort_values(by='Num_Unique',  ignore_index=True)
# выводим её на экран
column_list = list(unique_counts[unique_counts['Num_Unique'] <= 150]['Column_Name'])
column_list = list(set(column_list) - set(list(['Date', 'Rooms', 'Bedroom', 'Bathroom', 'Car'])))

for col in column_list: # цикл по именам столбцов
        df[col] = df[col].astype('category')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 27 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Suburb           13580 non-null  category
 1   Rooms            13580 non-null  int64
 2   Type             13580 non-null  category
 3   Price            13580 non-null  float64
 4   Method           13580 non-null  category
 5   SellerG          13580 non-null  category
 6   Date             13580 non-null  datetime64[ns]
 7   Distance         13580 non-null  float64
 8   Postcode         13580 non-null  int64
 9   Bedroom          13580 non-null  int64
 10  Bathroom         13580 non-null  int64
 11  Car              13580 non-null  int64
 12  Landsize         13580 non-null  float64
 13  BuildingArea     13580 non-null  float64
 14  CouncilArea      12211 non-null  category
 15  Lattitude        13580 non-null  float64
 16  Longtitude       13580 non-null  float64
 17  Regionname       13580 non-null  category
 18  Propertycount    13580 non-null  int64
 19  MeanRoomsSquare  13580 non-null  float64
 20  AreaRatio        13580 non-null  float64
 21  MonthSale        13580 non-null  category
 22  AgeBuilding      13580 non-null  int64
 23  WeekdaySale      13580 non-null  category
 24  StreetType       13580 non-null  category
 25  Weekend          13580 non-null  category
 26  Date_q           13580 non-null  category
dtypes: category(11), datetime64[ns](1), float64(8), int64(7)
memory usage: 1.8 MB

In [255]:
# df = df.sort_values(
#     by='AreaRatio',
#     ascending=False,
#     ignore_index=True
# )
# df.iloc[1558]

In [256]:
# df['Type'].value_counts()

In [257]:
# # df = df[(df['Type'] == 'townhouse') & (df['Rooms'] > 2)]
# df = df.sort_values(
#     by=['Rooms', 'MeanRoomsSquare'],
#     ascending=[True, False],
#     ignore_index=True
# )
# df

In [258]:
# ddd = df.groupby('Rooms')['Price'].mean()
# ddd.info()

In [259]:
# ddd.sort_values()

In [260]:
df['Lattitude']

0       -37.79960
1       -37.80790
2       -37.80930
3       -37.79690
4       -37.80720
           ...
13575   -37.90562
13576   -37.85927
13577   -37.85274
13578   -37.85908
13579   -37.81188
Name: Lattitude, Length: 13580, dtype: float64

In [261]:
standard_deviation = df.groupby('Regionname', as_index=False)['Lattitude'].agg(['min', 'max'])
# standard_deviation = np.std(standard_deviation['Lattitude'])
standard_deviation['nnn'] = standard_deviation['max'] - standard_deviation['min']
# standard_deviation = df
# standard_deviation['Lattitude_std'] = np.std(standard_deviation['Lattitude'])

# standard_deviation['Lattitude_std']  = standard_deviation['Lattitude'].apply(lambda x: np.std(x))
standard_deviation

                                 min       max      nnn
Regionname
Eastern Metropolitan       -37.90383 -37.68508  0.21875
Eastern Victoria           -38.16439 -37.75735  0.40704
Northern Metropolitan      -37.93940 -37.56857  0.37083
Northern Victoria          -37.68503 -37.40853  0.27650
South-Eastern Metropolitan -38.18255 -37.89210  0.29045
Southern Metropolitan      -37.99035 -37.78142  0.20893
Western Metropolitan       -37.91859 -37.56005  0.35854
Western Victoria           -37.71691 -37.67344  0.04347

In [262]:
ddd = df[(df['Date'] > '2017-04-30') & (df['Date'] < '2017-09-02')]
ddd.groupby('SellerG', as_index=False)['Price'].sum()
# Alexkarbon

          SellerG        Price
0      Alexkarbon   10985000.0
1           Barry  296723050.0
2           Bells    8656000.0
3          Biggin  110429500.0
4            Brad   55955000.0
5      Buckingham   19033000.0
6         Burnham    4550500.0
7          Buxton  219104000.0
8             C21   19515000.0
9          Cayzer    4439000.0
10       Chisholm   23225000.0
11        Collins   20217000.0
12        Douglas   18341000.0
13          Eview   19791500.0
14      Fletchers  108847700.0
15           Gary   39138400.0
16           Greg   85621000.0
17            HAR   25568000.0
18      Harcourts   68720250.0
19         Hodges   43231000.0
20            Jas   59281600.0
21         Jellis  414121833.0
22            Kay   48569500.0
23         LITTLE    2742000.0
24           Love   23365500.0
25       Marshall  253957888.0
26       McDonald   14637500.0
27        McGrath   78386500.0
28          Miles   47582000.0
29         Moonee    7328000.0
30         Nelson  379767500.0
31           Nick   16890000.0
32           Noel   88129800.0
33        O'Brien   23855508.0
34         Philip   22051800.0
35   Purplebricks   23401000.0
36             RT   50498000.0
37             RW   29261000.0
38          Raine   30687700.0
39            Ray  249572986.0
40        Rendina   15422276.0
41      Stockdale   35409800.0
42        Sweeney   36882750.0
43        Thomson    8332000.0
44        Village   26473000.0
45       Williams   23297000.0
46       Woodards   85977500.0
47            YPA   46354350.0
48  hockingstuart  282834310.0
49          other  365038432.0

In [263]:
df.pivot_table(
    values='Price',
    index='SellerG',
    columns='Type',
    aggfunc='mean',
    fill_value=0
)

Type                  house     townhouse           unit
SellerG
Alexkarbon     1.103278e+06  9.220000e+05  556172.666667
Barry          9.331888e+05  7.525791e+05  555870.512821
Bells          7.262763e+05  4.305000e+05  481250.000000
Biggin         1.270929e+06  7.210370e+05  568020.833333
Brad           9.571346e+05  6.978846e+05  480924.657534
Buckingham     8.480634e+05  9.783333e+05  553000.000000
Burnham        8.567692e+05  0.000000e+00  297730.769231
Buxton         1.439187e+06  1.138067e+06  664625.954198
C21            9.693400e+05  7.687500e+05  700700.000000
Cayzer         1.608258e+06  1.277333e+06  832333.333333
Chisholm       1.543138e+06  1.056000e+06  658447.651163
Collins        1.667075e+06  8.750000e+05  571884.615385
Douglas        6.880360e+05  5.100000e+05  448625.000000
Eview          8.674119e+05  6.127500e+05  602000.000000
Fletchers      1.480143e+06  1.248796e+06  691625.000000
Gary           1.400547e+06  1.105875e+06  555987.012987
Greg           1.468400e+06  9.585667e+05  632855.932203
HAR            8.002642e+05  0.000000e+00  641000.000000
Harcourts      8.646909e+05  7.036000e+05  515604.838710
Hodges         1.628754e+06  1.184559e+06  677227.272727
Jas            9.932983e+05  6.893704e+05  455160.000000
Jellis         1.657952e+06  1.108469e+06  662828.060897
Kay            2.471453e+06  1.648818e+06  851660.606061
LITTLE         1.011611e+06  8.000000e+05  470354.166667
Love           8.223253e+05  7.233571e+05  452129.629630
Marshall       2.161028e+06  1.590250e+06  770044.678261
McDonald       1.244533e+06  0.000000e+00  524166.666667
McGrath        1.327126e+06  9.794545e+05  579557.692308
Miles          1.317484e+06  7.303000e+05  606840.425532
Moonee         8.194677e+05  7.150000e+05  649000.000000
Nelson         1.148145e+06  7.523862e+05  574797.970480
Nick           2.111984e+06  7.800000e+05  993642.857143
Noel           1.453143e+06  1.126570e+06  678085.714286
O'Brien        8.558242e+05  4.283333e+05  624000.000000
Philip         1.068569e+06  7.370000e+05  706255.555556
Purplebricks   8.882439e+05  9.590000e+05  559166.666667
RT             1.841567e+06  1.261643e+06  703509.803922
RW             1.077678e+06  5.929167e+05  598100.000000
Raine          8.228126e+05  6.725556e+05  436666.666667
Ray            9.693127e+05  7.052136e+05  543938.559322
Rendina        1.278141e+06  6.365556e+05  492093.750000
Stockdale      7.543669e+05  5.603636e+05  450350.000000
Sweeney        9.318145e+05  7.274706e+05  408336.181818
Thomson        1.162462e+06  6.233333e+05  493615.384615
Village        1.049555e+06  7.228333e+05  414722.222222
Williams       1.258358e+06  8.587143e+05  685386.486486
Woodards       1.295287e+06  9.255833e+05  626247.514019
YPA            6.070024e+05  4.985000e+05  474250.000000
hockingstuart  1.158002e+06  9.792072e+05  604151.664987
other          1.106682e+06  9.413670e+05  586004.938272

In [264]:
ratings1 = pd.read_csv('ratings1.csv')
ratings2 = pd.read_csv('ratings2.csv')
dates = pd.read_csv('dates.csv')
movies = pd.read_csv('movies.csv')

In [265]:
movies['movieId'].value_counts()

1         1
53322     1
53129     1
53138     1
53140     1
         ..
4390      1
4392      1
4393      1
4394      1
193609    1
Name: movieId, Length: 9742, dtype: int64

In [266]:
dates['date'] = pd.to_datetime(dates['date'], dayfirst=True)
dates['date'].dt.year.value_counts()

2000    10061
2017     8198
2007     7114
2016     6703
2015     6616
2018     6418
1996     6040
2005     5813
2012     4656
2008     4351
2009     4158
2006     4059
2003     4014
2001     3922
2002     3478
2004     3279
1999     2439
2010     2301
1997     1916
2011     1690
2013     1664
2014     1439
1998      507
Name: date, dtype: int64

In [267]:
# # 6.3
# import pandas as pd
# import os
#
# def concat_users_files(path):
#     """
#     Вам необходимо написать функцию concat_user_files(path), параметром которой является path - путь до директории.
#     Функция должна объединить информацию из предоставленных вам файлов в один DataFrame и вернуть его.
#     Не забудьте обновить индексы результирующей таблицы после объединения.
#     Учтите тот момент, что в результате объединения могут возникнуть дубликаты, от которых необходимо будет избавиться.
#     """
#     files = os.listdir(path)
#     list.sort(files)
#
#     df_users = pd.DataFrame
#
#     for file in files:
#         if file == files[0]:
#             df_users = pd.read_csv(path + file)
#         else:
#             df = pd.read_csv(path + file)
#             df_users = pd.concat(
#                         [df_users, df],
#                         ignore_index=True
#                     )
#     df_users = df_users.drop_duplicates()
#
#     return df_users
#
# if __name__ == '__main__':
#     data = concat_users_files('./Root/users/')

In [268]:
ratings_movies = pd.read_csv('ratings_movies.csv')
import re
def get_year_release(arg):
    #находим все слова по шаблону "(DDDD)"
    candidates = re.findall(r'\(\d{4}\)', arg)
    # проверяем число вхождений
    if len(candidates) > 0:
        #если число вхождений больше 0,
	#очищаем строку от знаков "(" и ")"
        year = candidates[0].replace('(', '')
        year = year.replace(')', '')
        return int(year)
    else:
        #если год не указан, возвращаем None
        return None

ratings_movies['year_release'] = ratings_movies['title'].apply(get_year_release)

In [277]:
ratings_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0    100836 non-null  int64
 1   userId        100836 non-null  int64
 2   movieId       100836 non-null  int64
 3   rating        100836 non-null  float64
 4   date          100836 non-null  datetime64[ns]
 5   title         100836 non-null  object
 6   genres        100836 non-null  object
 7   year_release  100818 non-null  float64
 8   userId_g      100836 non-null  int64
 9   year_rating   100836 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(5), object(2)
memory usage: 7.7+ MB

In [270]:
# df_rating = ratings_movies[ratings_movies['year_release'] == 2010]
ratings_movies.groupby('userId')['genres'].count()
# Bloodsport: The Dark Kumite
# Action|Sci-Fi

userId
1       232
2        29
3        39
4       216
5        44
       ...
606    1115
607     187
608     831
609      37
610    1302
Name: genres, Length: 610, dtype: int64

In [271]:
def parse_genres(userId):
    genres = list(ratings_movies[ratings_movies['userId'] == userId]['genres'])
    genres_set = []
    # for i in genres:
    #     genre = i.split('|')
    #     for g in genre:
    #         genres_set.append(g)
    for i in genres:
         genres_set.append(i)
    return len(list(set(genres_set)))

ratings_movies['userId_g'] = ratings_movies['userId'].apply(parse_genres)
# ratings_movies['userId_g', 'userId']

In [272]:
ratings_movies

,Unnamed: 0,userId,movieId,rating,date,title,genres,year_release,userId_g
0,0,1,1,4.0,2000-07-30 18:45:03,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995.0,121
1,1,1,3,4.0,2000-07-30 18:20:47,Grumpier Old Men (1995),Comedy|Romance,1995.0,121
2,2,1,6,4.0,2000-07-30 18:37:04,Heat (1995),Action|Crime|Thriller,1995.0,121
3,3,1,47,5.0,2000-07-30 19:03:35,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,1995.0,121
4,4,1,50,5.0,2000-07-30 18:48:51,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,1995.0,121
...,...,...,...,...,...,...,...,...,...
100831,100831,610,166534,4.0,2017-05-03 21:53:22,Split (2017),Drama|Horror|Thriller,2017.0,380
100832,100832,610,168248,5.0,2017-05-03 22:21:31,John Wick: Chapter Two (2017),Action|Crime|Thriller,2017.0,380
100833,100833,610,168250,5.0,2017-05-08 19:50:47,Get Out (2017),Horror,2017.0,380
100834,100834,610,168252,5.0,2017-05-03 21:19:12,Logan (2017),Action|Sci-Fi,2017.0,380
100835,100835,610,170875,3.0,2017-05-03 21:20:15,The Fate of the Furious (2017),Action|Crime|Drama|Thriller,2017.0,380

In [273]:
ratings_movies_2018 = ratings_movies[ratings_movies['year_release'] == 2018]
ratings_movies_2018.groupby('genres')['rating'].agg(
    ['count', 'mean', 'max']
).sort_values(by='count', ascending=False)

                                        count      mean  max
genres
Action|Adventure|Sci-Fi                    14  3.928571  5.0
Action|Comedy|Sci-Fi                       12  3.875000  5.0
Comedy                                      8  3.312500  4.5
Action|Adventure|Children|Sci-Fi            5  3.900000  5.0
Animation|Comedy                            5  3.500000  5.0
Drama|Horror|Thriller                       4  2.750000  4.5
Action|Adventure|Animation|Children         4  3.000000  4.0
Action|Adventure|Fantasy                    4  2.500000  3.5
Adventure|Mystery|Sci-Fi|Thriller           3  3.833333  4.0
Action|Adventure|Comedy|Fantasy|Sci-Fi      3  3.666667  4.0
Action|Adventure|Thriller                   2  3.750000  4.0
Action|Adventure|Drama|Sci-Fi|Thriller      2  3.250000  4.0
Comedy|Drama                                2  3.250000  4.0
Documentary                                 2  4.000000  5.0
Action|Fantasy|Sci-Fi                       2  2.750000  3.0
Horror|Mystery|Sci-Fi|Thriller              2  2.250000  4.0
Comedy|Romance                              1  4.500000  4.5
Drama|Fantasy|Thriller                      1  2.000000  2.0
Crime|Drama                                 1  3.500000  3.5
Crime|Drama|Mystery|Thriller                1  1.500000  1.5
Horror|Mystery|Thriller                     1  3.500000  3.5
Comedy|Fantasy|Sci-Fi                       1  4.500000  4.5
Adventure|Comedy|Fantasy                    1  4.500000  4.5
Comedy|Crime|Drama                          1  2.500000  2.5
Adventure|Thriller                          1  4.500000  4.5
Adventure|Children|Fantasy|Sci-Fi           1  3.000000  3.0
Action|Mystery|Sci-Fi|Thriller              1  3.500000  3.5
Action|Crime|Thriller                       1  2.500000  2.5
Action|Crime|Drama|Thriller                 1  4.000000  4.0
Action|Comedy|Crime|Horror                  1  4.000000  4.0
Action|Comedy                               1  3.000000  3.0
Action|Animation                            1  3.500000  3.5
Sci-Fi|Thriller                             1  3.500000  3.5

In [274]:
ratings_movies['date'] = pd.to_datetime(ratings_movies['date'])

In [275]:
ratings_movies['year_rating'] = ratings_movies['date'].dt.year

In [279]:
ratings_movies.groupby(['genres', 'year_rating'])['rating'].mean().unstack()

year_rating,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
genres,,,,,,,,,,,,,,,,,,,,,
(no genres listed),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.500000,3.500000,3.000000,3.676471
Action,2.730769,3.538462,NaN,NaN,2.588235,3.000000,2.750000,3.833333,2.700000,3.357143,...,NaN,3.500000,4.500000,2.625000,2.500000,NaN,3.100000,3.545455,2.637931,2.588235
Action|Adventure,3.454545,4.150000,4.2,4.0,3.738462,3.500000,4.304348,3.277778,4.136364,3.413043,...,3.714286,3.437500,3.888889,3.900000,3.833333,3.875,3.560976,3.722222,3.527778,3.397436
Action|Adventure|Animation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,3.000,3.800000,3.750000,3.375000,3.650000
Action|Adventure|Animation|Children,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,4.000000,3.000000,3.500,3.666667,3.833333,3.500000,3.166667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Sci-Fi|Thriller,2.666667,3.400000,NaN,4.0,2.142857,2.500000,3.600000,3.142857,NaN,2.750000,...,4.000000,2.500000,1.833333,3.500000,3.833333,NaN,3.764706,3.916667,3.750000,3.562500
Sci-Fi|Thriller|IMAX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,4.000000,3.666667,4.000000,4.000,4.000000,3.666667,2.500000,NaN
Thriller,3.838095,3.923077,3.8,3.7,3.087912,3.477273,3.583333,3.250000,3.464286,3.411765,...,2.964286,2.833333,3.625000,3.083333,3.666667,4.000,2.911765,3.432432,3.152174,3.296296
War,NaN,NaN,NaN,4.5,3.000000,3.000000,3.500000,3.000000,3.000000,NaN,...,4.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Western,3.117647,3.000000,NaN,4.0,4.058824,3.111111,3.000000,4.000000,3.800000,4.500000,...,3.375000,3.666667,4.000000,4.100000,4.000000,4.000,3.900000,3.958333,2.933333,3.611111

In [281]:
orders_df = pd.read_csv('orders.csv', sep=';')
products_df = pd.read_csv('products.csv', sep=';')

In [282]:
orders_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Дата создания  18 non-null     object
 1   Order ID       18 non-null     int64
 2   ID Покупателя  18 non-null     int64
 3   Статус         18 non-null     object
 4   Оплачен        18 non-null     object
 5   Отменен        18 non-null     object
 6   Отгружен       18 non-null     object
 7   ID товара      18 non-null     int64
 8   Количество     18 non-null     int64
dtypes: int64(4), object(5)
memory usage: 1.4+ KB

In [283]:
products_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Product_ID  14 non-null     int64
 1   Name        14 non-null     object
 2   Price       14 non-null     int64
 3   CURRENCY    14 non-null     object
dtypes: int64(2), object(2)
memory usage: 576.0+ bytes

In [284]:
orders_df['Product_ID'] = orders_df['ID товара']

orders_products_df = orders_df.merge(
    products_df,
    on='Product_ID',
    how='left'
)
orders_products_df

,Дата создания,Order ID,ID Покупателя,Статус,Оплачен,Отменен,Отгружен,ID товара,Количество,Product_ID,Name,Price,CURRENCY
0,09.11.2019 21:55:51,9,10,"Принят, ожидается оплата",Нет,Нет,Нет,103,5,103,"Носки Подарочные, муж",199.0,RUR
1,09.11.2019 15:05:57,8,9,"Принят, ожидается оплата",Нет,Нет,Нет,86,100,86,"Носки Простые, муж",45.0,RUR
2,09.11.2019 15:05:57,8,9,"Принят, ожидается оплата",Нет,Нет,Нет,104,10,104,"Носки Подарочные, жен",249.0,RUR
3,09.11.2019 12:50:07,7,8,"Принят, ожидается оплата",Нет,Нет,Нет,104,7,104,"Носки Подарочные, жен",249.0,RUR
4,09.11.2019 12:00:00,6,1,"Принят, ожидается оплата",Нет,Нет,Нет,104,5,104,"Носки Подарочные, жен",249.0,RUR
5,09.11.2019 12:00:00,6,1,"Принят, ожидается оплата",Нет,Нет,Нет,103,5,103,"Носки Подарочные, муж",199.0,RUR
6,08.11.2019 08:36:22,5,5,Отменён,Нет,Да,Нет,124,1,124,Носки беговые Camino,999.0,RUR
7,08.11.2019 08:36:22,4,9,"Принят, ожидается оплата",Нет,Нет,Да,91,1,91,"Носки Честные, муж",50.0,RUR
8,08.11.2019 08:36:22,3,8,"Оплачен, формируется к отправке",Да,Нет,Нет,103,3,103,"Носки Подарочные, муж",199.0,RUR
9,08.11.2019 08:36:22,3,8,"Оплачен, формируется к отправке",Да,Нет,Нет,104,3,104,"Носки Подарочные, жен",249.0,RUR
10,08.11.2019 08:36:21,2,7,Выполнен,Да,Нет,Да,74,1,74,Платье Ночная Жизнь XXXL,8999.0,RUR
11,08.11.2019 08:36:21,2,7,Выполнен,Да,Нет,Да,53,1,53,Штаны Цветочная Поляна,4999.0,RUR
12,08.11.2019 08:36:21,2,7,Выполнен,Да,Нет,Да,137,1,137,Гольфы детские Снегурочка,99.0,RUR
13,08.11.2019 08:36:21,2,7,Выполнен,Да,Нет,Да,47,1,47,Шатны Полосатый рейс,2999.0,RUR
14,08.11.2019 08:36:20,1,5,"Оплачен, формируется к отправке",Да,Нет,Нет,71,1,71,Платье Ночная Жизнь,7999.0,RUR
15,08.11.2019 08:36:20,1,5,"Оплачен, формируется к отправке",Да,Нет,Нет,86,1,86,"Носки Простые, муж",45.0,RUR
16,08.11.2019 08:36:20,1,5,"Оплачен, формируется к отправке",Да,Нет,Нет,51,1,51,Платье Аленький цветочек,4999.0,RUR
17,01.01.2001 00:00:00,0,1,"Оплачен, формируется к отправке",Да,Нет,Нет,666,1,666,NaN,NaN,NaN