In [2]:
import pandas as pd
print(pd.__name__)

pandas

In [3]:
# 2.4
import pandas as pd

def create_medications(names, counts):
    """
    Напишите функцию create_mediactions(names, counts), которая  создает Series medications,
    индексами которой являются названия лекарств names, а значениями - их количество в поставке counts
    """
    return pd.Series(data = counts, index = names, name = 'medications')


def get_percent(medications, name):
    """
    А также напишите функцию get_percent(medications, name), которая возвращает долю количества товара
    с именем name от общего количества товаров в поставке в процентах.
    """
    summa = sum(medications.iloc[0:3])
    s_nm = medications.loc[name]
    return s_nm * 100 / summa

if __name__ == '__main__':
    names=['chlorhexidine', 'cyntomycin', 'afobazol']
    counts=[15, 18, 7]
    medications = create_medications(names, counts)
    print(get_percent(medications, "chlorhexidine")) #37.5

37.5

In [28]:
#3.5
import pandas as pd

def create_companyDF(income, expenses, years):
    """
    Создайте функцию create_companyDF(income, expenses, years), которая  возвращает DataFrame,
    составленный из входных данных со столбцами “Income” и “Expenses” и индексами, соответствующим годам рассматриваемого периода.
    """
    df = pd.DataFrame({
    'Expenses': expenses,
    'Income': income
})
    df.index = years
    return df

def get_profit(df, year):

    """
    А также напишите функцию get_profit(df, year), которая возвращает разницу между доходом и расходом, записанных в таблице df, за год year.
    Учтите, что если информация за запрашиваемый год не указана в вашей таблице вам необходимо вернуть None.
    """
    if year not in df.index:
        return None

    a = df.loc[year]['Expenses']
    b = df.loc[year]['Income']
    profit = b - a
    return profit

if __name__ == '__main__':
    expenses = [156, 130, 270]
    income = [478, 512, 196]
    years = [2018, 2019, 2020]

    scienceyou = create_companyDF(income, expenses, years)
    print(get_profit(scienceyou, 2020)) #-74

h    0.695803
u    0.222165
t    0.082032
Name: Type, dtype: float64

In [3]:
import pandas as pd
melb_data = pd.read_csv('melb_data_2.csv', sep=',')
melb_data['Car'] = melb_data['Car'].astype('int64')
melb_data['Bedroom'] = melb_data['Bedroom'].astype('int64')
melb_data['Bathroom'] = melb_data['Bathroom'].astype('int64')
melb_data['Propertycount'] = melb_data['Propertycount'].astype('int64')
melb_data['YearBuilt'] = melb_data['YearBuilt'].astype('int64')
print(melb_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          13580 non-null  int64
 1   Suburb         13580 non-null  object
 2   Address        13580 non-null  object
 3   Rooms          13580 non-null  int64
 4   Type           13580 non-null  object
 5   Price          13580 non-null  float64
 6   Method         13580 non-null  object
 7   SellerG        13580 non-null  object
 8   Date           13580 non-null  object
 9   Distance       13580 non-null  float64
 10  Postcode       13580 non-null  int64
 11  Bedroom        13580 non-null  int64
 12  Bathroom       13580 non-null  int64
 13  Car            13580 non-null  int64
 14  Landsize       13580 non-null  float64
 15  BuildingArea   13580 non-null  float64
 16  YearBuilt      13580 non-null  int64
 17  CouncilArea    12211 non-null  object
 18  Lattitude      13580 non-null  float64
 19  Longtitude     13580 non-null  float64
 20  Regionname     13580 non-null  object
 21  Propertycount  13580 non-null  int64
 22  Coordinates    13580 non-null  object
dtypes: float64(6), int64(8), object(9)
memory usage: 2.4+ MB
None

In [27]:
melb_data.describe(include=['object'])

,Suburb,Address,Type,Method,SellerG,Date,CouncilArea,Regionname,Coordinates
count,13580,13580,13580,13580,13580,13580,12211,13580,13580
unique,314,13378,3,5,268,58,33,8,13097
top,Reservoir,36 Aberfeldie St,h,S,Nelson,27/05/2017,Moreland,Southern Metropolitan,"-37.8361, 144.9966"
freq,359,3,9449,9022,1565,473,1163,4695,12

In [28]:
melb_data['Type'].value_counts(normalize=True)

h    0.695803
u    0.222165
t    0.082032
Name: Type, dtype: float64

In [38]:
melb_data['Distance'].std()

5.868724943071711

In [40]:
landsize_median = melb_data['BuildingArea'].median()
landsize_mean =  melb_data['BuildingArea'].mean()
abs(landsize_median - landsize_mean)/landsize_mean

0.09764079662364533

In [42]:
melb_data['Bedroom'].mode()

0    3
Name: Bedroom, dtype: int64

In [50]:
melb_data['Bedroom'] == 0

0        False
1        False
2        False
3        False
4        False
         ...
13575    False
13576    False
13577    False
13578    False
13579    False
Name: Bedroom, Length: 13580, dtype: bool

In [52]:
melb_data[melb_data['Bathroom'] == 0].shape[0]

34

In [54]:
a = melb_data['SellerG'] == 'Nelson'
b = melb_data['Price'] > 3000000
melb_data[a & b].shape[0]

5

In [57]:
melb_data[melb_data['BuildingArea'] == 0]['Price'].min()

412500.0

In [77]:
d = melb_data['YearBuilt'] > 2015
e = melb_data['Price'] < 1000000
c = melb_data['Rooms'] > 5
round(melb_data[(d | c) & e]['Price'].mean())

769239

In [7]:
x = melb_data['Type'] == 'h'
y = melb_data['Price'] < 3000000
melb_data[x & y]['Regionname'].mode()

0    Northern Metropolitan
Name: Regionname, dtype: object

In [8]:
import pandas as pd

data = pd.read_csv('students_performance.csv', sep=',')
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB
None

In [16]:
z = data[data['lunch'] == 'standard']['math score'].mean()
v = data[data['lunch'] == 'free/reduced']['math score'].mean()
max(z, v)

70.03410852713178

In [18]:
data[data['parental level of education'] == 'bachelor`s degree'].shape[0]

0

In [28]:
data['parental level of education'].value_counts()

some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: parental level of education, dtype: int64

In [31]:
m = data[data['race/ethnicity'] == 'group A']['writing score'].median()
n = data[data['race/ethnicity'] == 'group C']['writing score'].mean()
round(abs(m - n))

6